
<div class="grid">
  <div class="col-12">
    <div class="flex justify-content-center align-content-center text-align-center">
      <!--Signin-->
      <form [formGroup]="loginForm"
            (ngSubmit)="onSubmitLoginForm()">
        <p-card styleClass="mt-10"
                header="Login "
                subheader="Acesse Login">
          <div class="flex justify-content-center align-content-center text-align-center">
            <input type="email"
                   pInputText placeholder="Email"
                   formControlName="login">
          </div>
          <div class="flex justify-content-center align-content-center text-align-center mt-3">
            <input type="password"
                   pInputText placeholder="Senha"
                   formControlName="senha">
          </div>
          <div class="card flex justify-content-center mt-3">
            <button type="submit"
                    pButton
                    pRipple
                    label="Login"
                    [disabled]="!this.loginForm.valid">
            </button>
          </div>
        </p-card>
      </form>
    </div>
  </div>
</div>
